:root {
  --primary-color: #0f377b;
  --secondary-color: #ffd100;
  --my-gray: #888;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  padding: 2rem;
  height: 100vh;
}

.card {
  background: white;
  border-radius: 14px;
  padding: 2.5rem 2.5rem 2rem;
  width: 100%;
  max-width: 380px;
}

.logo {
  width: 40px;
  height: 40px;
  background: var(--secondary-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-color);
  margin: 0 0 4px;
}

.sub {
  font-size: 13px;
  color: var(--my-gray);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 1rem;
}

label {
  font-size: 12px;
  font-weight: 500;
  color: var(--my-gray);
  letter-spacing: 0.3px;
}

.inp-wrap {
  position: relative;
}

.inp-wrap > i {
  position: absolute;
  left: 11px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #aaa;
  pointer-events: none;
}

input {
  width: 100%;
  height: 40px;
  padding: 0 12px 0 36px;
  border-radius: 8px;
  border: 1px solid#ddd;
  font-size: 14px;
  color: #222;
  outline: none;
}

input:focus {
  border: 1px dashed var(--primary-color);
  box-shadow: 0 0 0 3px rgba(15, 55, 123, 0.08);
}

.eye-btn {
  position: absolute;
  right: 11px;
  top: 50%;
  background: none;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
}

.remember {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}

.rem {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 12px;
  color: #666;
  margin-bottom: 1rem;
}

.rem input[type="checkbox"] {
  width: 14px;
  height: 14px;
  accent-color: var(--primary-color);
  padding: 0;
  cursor: pointer;
}

.forgot {
  font-size: 12px;
  color: var(--primary-color);
  text-decoration: none;
  display: block;
  text-align: left;
  margin-bottom: 1.5rem;
  margin-top: -4px;
}

.btn {
  width: 100%;
  height: 42px;
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.btn:hover {
  background: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
